### All ignore ###
/*
/.**

### Not ignore ###

## config
!/.config
!/.config/**

## git
/.config/git/conf.d/user.local

### zsh
!/.zshenv

## document
!/doc/
/doc/*
!/doc/learning/
!/doc/learning/**


# global #
!/README.md
!/.gitignore
!/Makefile
!/LICENSE

!/.vscode/
!/.vscode/**
